@{
    ViewData["Title"] = "ANDAYA-Resume";
}
<body>
    <div class=" text-center">
        <div class="welcome-page" id="1">
            <div class="box1 pt-5">
                 <img src="~/images/em.jpg" class="centered-image" style="width: 300px; height: 300px"/>
            </div>
            <div class="box2 pt-5">
                <div class="h1-container">
                    <h1 class="h1-text">Welcome</h1>
                </div>
                <h4>I'm Mark Roel L. Andaya</h4>
                <p>
                    Secure a
                    responsible career opportunity to fully utilize my
                    positive attitude, resilience and successful work
                    with cross-functional teams, while making a significant
                    contribution to the success of this company.
                </p>
            </div>
        </div>
        <br /><br />

        <section id="resume-sec">
            <div class="resume" id="2" style="margin-top:30px;">
                <div class="card-container">

                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title text-light">Personal Information</h4>
                        </div>
                        <div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><b>Name:</b> Mark Roel L. Andaya</li>
                                <li class="list-group-item"><b>Email:</b> roelmark1212.com</li>
                                <li class="list-group-item"><b>Address:</b> Jubilee East Ville, Phase I, BSQC</li>
                                <li class="list-group-item"><b>Contact #:</b> 09098336288</li>
                                <li class="list-group-item"><b>Height & Weight:</b> 5'8 & 170</li>
                            </ul>
                        </div>


                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title text-light">Skills</h4>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Java Programming</li>
                            <li class="list-group-item">Basic SQL</li>
                            <li class="list-group-item">Front-End Development</li>
                            <li class="list-group-item">UI Design</li>
                            <li class="list-group-item">Management Skill</li>
                        </ul>

                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title text-light">Education</h4>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Quezon City University ---------- 2021-present</li>
                            <li class="list-group-item">ACLC Commonwealth --------------- 2019-2021</li>
                            <li class="list-group-item">Bagong Silangan HS ---------------- 2005-2019</li>
                            <li class="list-group-item">Bagong Silangan ES ----------------- 2010-2015</li>
                            <li class="list-group-item">A.C Herrera ES ----------------------- 2008-2010</li>
                        </ul>

                    </div>

                </div>
            </div>
        </section>
        



        <section id="contact"  style="background-color= #EEDFC2;">
            <div class="container py-5" id="3">
                <div class="row">
                    <div class="col-md-6" style="background-image: url('../images/black.jpg'); background-size: cover; background-position: center; border-radius: 25px;">
                        <h2 class="mb-4 text-light pt-4">Connect with Me</h2>
                        <div class="d-flex justify-content-center align-items-center">
                            <a href="https://www.facebook.com/Makuuu.12/" target="_blank" style="color: #FFED4F; font-size:40px; margin: 30px;">
                                <i class="bi bi-facebook"></i>
                            </a>
                            <a href="https://www.instagram.com/makuuu.12/" target="_blank" class="btn btn-link" style="color: #FFED4F; font-size:40px; margin: 30px;">
                                <i class="bi bi-instagram"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/mark-roel-andaya-098b81231/" target="_blank" class="btn btn-link" style="color: #FFED4F; font-size:40px; margin: 30px;">
                                <i class="bi bi-linkedin"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2 class="mb-4 pt-4">Send me a message</h2>
                        <form>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email Address:</label>
                                <input type="email" class="form-control" id="email" placeholder="Your Email">
                            </div>
                            <div class="mb-3">
                                <label for="message" class="form-label">Message:</label>
                                <textarea class="form-control" id="message" rows="4" placeholder="Feel free to message me"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary custom-button">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div>

</body>

<div>
    
</div>
