@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        margin: 0px;
        padding: 0px;
        height: 100vh;
    }
</style>

<link href="~/Content/animate.css" rel="stylesheet" />
<link href="~/Content/aos.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/flaticon.css" rel="stylesheet" />
<link href="~/Content/icomoon.css" rel="stylesheet" />
<link href="~/Content/ionicons.min.css" rel="stylesheet" />
<link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
<link href="~/Content/magnific-popup.css" rel="stylesheet" />
<link href="~/Content/open-iconic-bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
<link href="~/Content/owl.theme.default.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />

<div class="padding-div"> </div>
<div id="colorlib-main">
    <div class="hero-wrap js-fullheight" style="background-image: url('../../images/bg.png'); height: 100vh" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="js-fullheight d-flex justify-content-center align-items-center">
            <div class="col-md-8 text text-center ">
                
                <div class="img mb-4" style="background-image: url('../../images/mark.png');"></div>
                <div class="desc">
                    <h2 class="subheading">Hello I'm</h2>
                    <h1 class="mb-4 h1-text">Mark Roel Andaya</h1>
                    <p class="mb-4">I'm an Aspirant Designer studying from Quezon City University (QCU) with a course of Bachelor of Science in Information technology. <br /><br />Secure a responsible career opportunity to leverage my positive attitude, resilience, and cross-functional teamwork skills to contribute significantly to the company's success.</p>
                    <p>@Html.ActionLink("More About Me ", "About", "Home", new { area = "" }, new { @class = "action-list  colorlib-active" })<span class="fa-solid fa-arrow-right"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>





            <script src="~/Scripts/_references.js"></script>
            <script src="~/Scripts/ai.0.22.9-build00167.js"></script>
            <script src="~/Scripts/ai.0.22.9-build00167.min.js"></script>
            <script src="~/Scripts/bootstrap.js"></script>
            <script src="~/Scripts/bootstrap.min.js"></script>
            <script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
            <script src="~/Scripts/jquery-1.10.2.js"></script>
            <script src="~/Scripts/jquery-1.10.2.min.js"></script>
            <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
            <script src="~/Scripts/jquery.validate.js"></script>
            <script src="~/Scripts/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
            <script src="~/Scripts/main.js"></script>
            <script src="~/Scripts/modernizr-2.6.2.js"></script>
            <script src="~/Scripts/respond.js"></script>
            <script src="~/Scripts/respond.min.js"></script>

