
@{
    ViewBag.Title = "Works";
}

<style>
    body {
        margin: 0px;
        padding: 0px;
    }
</style>


<link href="~/Content/animate.css" rel="stylesheet" />
<link href="~/Content/aos.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/flaticon.css" rel="stylesheet" />
<link href="~/Content/icomoon.css" rel="stylesheet" />
<link href="~/Content/ionicons.min.css" rel="stylesheet" />
<link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
<link href="~/Content/magnific-popup.css" rel="stylesheet" />
<link href="~/Content/open-iconic-bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
<link href="~/Content/owl.theme.default.min.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />

<div id="colorlib-main">

    <section class="ftco-section-2">
        <div class="photograhy">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <a href="#" class="photography-entry img d-flex justify-content-center align-items-center" style="background-image: url(../../images/img8.jpg);">
                        <div class="overlay"></div>
                        <div class="text text-center">
                            <h3>Work 01</h3>
                            <span>Shine</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="photography-entry img d-flex justify-content-center align-items-center" style="background-image: url(../../images/img4.jpg);">
                        <div class="overlay"></div>
                        <div class="text text-center">
                            <h3>Work 02</h3>
                            <span>Badass</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="photography-entry img d-flex justify-content-center align-items-center" style="background-image: url(../../images/img7.jpg);">
                        <div class="overlay"></div>
                        <div class="text text-center">
                            <h3>Work 03</h3>
                            <span>Love You, Dragon</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="photography-entry img d-flex justify-content-center align-items-center" style="background-image: url(../../images/img1.jpg);">
                        <div class="overlay"></div>
                        <div class="text text-center">
                            <h3>Work 04</h3>
                            <span>Love</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="photography-entry img d-flex justify-content-center align-items-center" style="background-image: url(../../images/img6.jpg);">
                        <div class="overlay"></div>
                        <div class="text text-center">
                            <h3>Work 05</h3>
                            <span>Dahyun</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="photography-entry img d-flex justify-content-center align-items-center" style="background-image: url(../../images/img5.jpg);">
                        <div class="overlay"></div>
                        <div class="text text-center">
                            <h3>Work 06</h3>
                            <span>Countryside</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="photography-entry img d-flex justify-content-center align-items-center" style="background-image: url(../../images/img10.jpg);">
                        <div class="overlay"></div>
                        <div class="text text-center">
                            <h3>Work 07</h3>
                            <span>Other World</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="photography-entry img d-flex justify-content-center align-items-center" style="background-image: url(../../images/img3.jpg);">
                        <div class="overlay"></div>
                        <div class="text text-center">
                            <h3>Work 08</h3>
                            <span>Homeless</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="photography-entry img d-flex justify-content-center align-items-center" style="background-image: url(../../images/img9.jpg);">
                        <div class="overlay"></div>
                        <div class="text text-center">
                            <h3>Work 09</h3>
                            <span>Neon</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        

<script src="~/Scripts/_references.js"></script>
<script src="~/Scripts/ai.0.22.9-build00167.js"></script>
<script src="~/Scripts/ai.0.22.9-build00167.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/main.js"></script>
<script src="~/Scripts/modernizr-2.6.2.js"></script>
<script src="~/Scripts/respond.js"></script>
<script src="~/Scripts/respond.min.js"></script>